.movies{
  margin-top: 100px;
  padding-bottom:60px;
   
}

.sweet-alert-with-margin {
    margin-top:-12rem; 
  }
  .custom-footer-text-color {
    color: #ff0000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  